// _buttons.scss

.c-btn {
	background-color: map-get( $colorsMap, 'highlight' );
	background-image: url( ../media/button-bg.svg );
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: auto 100%;

	color: map-get( $colorsMap, 'lightest' );
	font-weight: bold;

	cursor: pointer;

	transition: background-position $transitionDuration / 1.5;

	&:hover,
	&:focus {
		background-position: 105%;
	}
}