// _form.scss

.c-form {
	@include respond-to( 'tablet' ) {
		margin-top: 2em;
	}
}

// Inputs

.c-input-group {
	margin-bottom: 1em;

	@include respond-to( 'tablet' ) {
		margin-bottom: 1.5em;
	}
}

.c-input {
	width: 100%;

	padding: 0.75em 0.75em;
	border: 1px solid map-get( $colorsMap, 'light' );
	border-radius: 4px;

	box-shadow: inset 1px 1px 3px 0px rgba( map-get( $colorsMap, 'light' ), 0.75 );

	font-family: $baseFontFamily;
}

.c-input--text {
	transition: background-color $transitionDuration;
}

.c-input--text:focus {
	outline: 0;
	background-color: rgba( map-get( $colorsMap, 'light' ), 0.25 );
}

.c-input--select {
	background-image: url( ../media/spearhead-down.png );
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 12px 8px;
	background-position: 95% center; // backup for non-calc
	background-position: calc( 100% - 0.75em ) center; // use calc() to psuedo padding

	-webkit-appearance: none;

	@include image-2x( '../media/spearhead-down@2x.png' );
}

.c-input--submit {
	max-width: 250px;
	
	margin-top: 0.5em;
	padding: 1em 0.75em;
	border: 0;

	box-shadow: none;

	text-align: left;

	-webkit-appearance: none;
}

// Labels

.c-label {
	margin-bottom: 0.5em;

	display: block;
}

.c-label--optional:after {
	content: '(optional)';

	float: right;
}