// _hamburger.scss
// based on: https://github.com/jonsuh/hamburgers

.c-hamburger {
	padding: 0;
	margin: 0;
	border: 0;

	display: inline-block;

	background-color: transparent;

	text-transform: none;
	line-height: 0;

	cursor: pointer;

	&:focus {
		outline: 0;
	}
}

.c-hamburger-box {
	width: 31px;
	height: 24px;
	
	display: inline-block;

	position: relative;
}

.c-hamburger-inner {
	display: block;

	top: 50%;
	margin-top: -1px;	
	
	&,
	&:before,
	&:after {
		width: 31px;
		height: 2px;

		position: absolute;

		background-color: map-get( $colorsMap, 'lightest' );
	}

	&:before,
	&:after {
		content: '';

		display: block;
	}

	&:before {
		top: -10px;
	}

	&:after {
		bottom: -10px;
	}
}

/*
 * Collapse
 */
.c-hamburger--collapse {
	.c-hamburger-inner {
  	top: auto;
  	bottom: 0;
  	transition-duration: 0.13s;
  	transition-delay: 0.13s;
  	transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); 
 	}

 	.c-hamburger-inner:after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; 
  }

  .c-hamburger-inner:before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); 
  }
}

.c-hamburger--collapse.is-active {
	.c-hamburger-inner {
  	transform: translate3d(0, -10px, 0) rotate(-45deg);
  	transition-delay: 0.22s;
  	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); 
  }

  .c-hamburger-inner:after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; 
  }

	.c-hamburger-inner:before {
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); 
  }
}
