// _nav.scss

.c-nav__menu {
	width: 100%;
	height: 100%;

	padding: 20px;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;

	background-color: map-get( $colorsMap, 'highlight-darker' );

	transform: translateX( 100% );

	transition: transform $transitionDuration * 2;

	@extend %u-clearfix;

	@include respond-to( 'tablet' ) {
		padding: 0;

		position: static;

		background-color: transparent;
	
		transform: none;
		transition: none;
	}

	&.is-active {
		transform: translateX(0);
	}
}

.c-nav__menu-item {
	padding: 10px 0;

	position: relative;

	@extend %like-h2;

	@include respond-to( 'tablet' ) {
		padding: 0;

		float: left;

		font-size: 1.5em;
	}

	&:not(:last-of-type) {
		margin-right: 30px;
	}

	&:after {
		@include respond-to( 'tablet' ) {
			content: '';

			width: 100%;
			height: 2px;

			position: absolute;
			left: 0;
			bottom: -5px;

			background-color: map-get( $colorsMap, 'lightest' );

			transform: scale(0);
			transform-origin: center;

			transition: transform $transitionDuration / 1.5;
		}
	}

	&.is-active:after,
	&:hover:after {
		transform: scale(1);
	}
}

.c-nav__menu-link {
	color: map-get( $colorsMap, 'lightest' );
	text-decoration: none;
}

.c-nav__menu-trigger {
	float: right;

	@include respond-to( 'tablet' ) {
		display: none;
	}

	&.is-active {
		position: fixed;
		top: 20px; // pseudo .c-header padding
		right: 20px; // psuedo .l-wrapper padding
		z-index: 3;
	}
}