// _layout.scss

[class*="l-col"] {
	box-sizing: border-box;
}

[class*="l-"] {
	display: block;

	@extend %u-clearfix;
}

.l-site-main {
	padding-top: 40px;
}

.l-main {
	margin-bottom: 2em;

	@include respond-to( 'tablet' ) {
		margin-bottom: 0;
	}
}